@page "/scenario"
@using Calculus.Common

@inject HttpClient Http

<PageTitle>Scenario</PageTitle>

<h1>Scenario</h1>

@if (scenarios is null)
{
    <p>Loading...</p>
}
else
{
    <ul>
    @foreach (var scenario in scenarios)
        {
            <li>@scenario.Name by @scenario.Author</li>
        }
    </ul>
}

@code
{
    private List<ScenarioDto>? scenarios;

    override protected async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<ListScenariosResponse>($"https://{Constants.Urls.webApiUrl}/scenarios");
        scenarios = response?.Scenarios;
    }
}
