@page "/scenario"
@using Calculus.Common

@inject HttpClient Http

<PageTitle>Scenario</PageTitle>

<h1>Scenario</h1>

<ScenarioCreate />

@if (_scenarios is null)
{
    <p>Loading...</p>
}
else
{
    <ul>
    @foreach (var scenario in _scenarios)
        {
            <li>@scenario.Name by @scenario.Author</li>
        }
    </ul>
}
